adal==1.2.2
appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
autopep8==1.4.4
bcrypt==3.1.7
black==19.10b0
cachetools==4.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
coverage==5.0.3
cryptography==3.3.2
dictdiffer==0.8.1
entrypoints==0.3
fabric==2.5.0
flake8==3.7.9
Flask==1.1.1
Flask-Session==0.3.1
Flask-WTF==0.14.2
gevent==1.4.0
google-auth==1.11.0
greenlet==0.4.15
greenstalk==1.0.1
gunicorn==20.0.4
idna==2.8
importlib-metadata==1.4.0
invoke==1.4.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jwt==0.6.1
kubernetes==10.0.1
lazy-object-proxy==1.4.3
ldap3==2.6.1
MarkupSafe==1.1.1
mccabe==0.6.1
mock==3.0.5
more-itertools==8.1.0
msal==1.0.0
names==0.3.0
ntlm-auth==1.4.0
oauthlib==3.1.0
packaging==20.0
paramiko==2.7.1
pathspec==0.7.0
pexpect==4.7.0
pluggy==0.13.1
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
PyJWT==1.7.1
pylint==2.4.4
pymssql==2.1.4
PyMySQL==0.9.3
PyNaCl==1.3.0
pyodbc==4.0.28
pyOpenSSL==19.1.0
pyparsing==2.4.6
pypsrp==0.4.0
pytest==5.3.2
pytest-base-url==1.4.1
pytest-cov==2.8.1
pytest-describe==0.12.0
pytest-env==0.6.2
pytest-html==2.0.1
pytest-metadata==1.8.0
pytest-mock==2.0.0
pytest-selenium==1.17.0
pytest-variables==1.9.0
python-dateutil==2.8.1
python-dotenv==0.10.3
pywinrm==0.4.1
PyYAML==5.3
regex==2020.1.8
requests==2.22.0
requests-credssp==1.1.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
rsa==4.7
selenium==3.141.0
shortuuid==0.5.0
simplejson==3.17.0
six==1.13.0
smalluuid==1.0.0
SQLAlchemy==1.3.12
timeago==1.0.12
toml==0.10.0
typed-ast==1.4.0
urllib3==1.25.7
var-dump==1.2
wcwidth==0.1.8
websocket-client==0.57.0
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.2.1
xmltodict==0.12.0
zipp==0.6.0
