adal==1.2.7
aio-cosmos==0.2.4
aiodns==4.0.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
aiosmtplib==5.1.0
aniso8601==10.0.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
astroid==4.0.4
async-timeout==5.0.1
asyncio==4.0.0
asyncio-periodic==2019.2
asyncmy==0.2.11
attrs==26.1.0
autopep8==2.3.2
azure-common==1.1.28
azure-core==1.41.0
azure-cosmos==4.15.0
azure-identity==1.25.3
azure-keyvault-certificates==4.11.1
azure-keyvault-keys==4.11.0
azure-keyvault-secrets==4.11.0
azure-mgmt-authorization==4.0.0
azure-mgmt-compute==38.0.0
azure-mgmt-containerregistry==15.0.0
azure-mgmt-core==1.6.0
azure-mgmt-dns==9.0.0
azure-mgmt-keyvault==14.0.1
azure-mgmt-network==30.2.0
azure-mgmt-privatedns==1.2.0
azure-mgmt-rdbms==10.1.1
azure-mgmt-resource==25.0.0
azure-mgmt-storage==24.0.1
azure-mgmt-web==11.0.0
azure-storage-blob==12.28.0
backports.zstd==1.5.0
bcrypt==5.0.0
black==26.3.1
blinker==1.9.0
blosc2==4.2.0
brotli==1.2.0
cachelib==0.14.0
cachetools==7.1.1
cattrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
connexion==3.3.0
coverage==7.14.0
cramjam==2.11.0
cryptography==47.0.0
decorator==5.2.1
deepdiff==9.0.0
Deprecated==1.3.1
dictdiffer==0.9.0
dill==0.4.1
dnspython==2.8.0
durationpy==0.10
email-validator==2.3.0
et_xmlfile==2.0.0
fabric==3.2.3
Faker==40.15.0
fastapi==0.136.1
fastapi-mail==1.6.4
fastparquet==2026.3.0
flake8==7.3.0
Flask==2.3.3
Flask-Bcrypt==1.0.1
flask-cors==6.0.2
Flask-HTTPAuth==4.8.1
Flask-Limiter==4.1.1
Flask-Mail==0.10.0
Flask-RESTful==0.3.10
Flask-SeaSurf==2.0.0
Flask-Session==0.8.0
Flask-WTF==1.3.0
frozenlist==1.8.0
fsspec==2026.4.0
gevent==26.4.0
greenlet==3.5.0
greenstalk==2.1.1
gssapi==1.11.1
gunicorn==26.0.0
h11==0.16.0
h2==4.3.0
haikunator==2.1.0
hcloud==2.20.0
hpack==4.1.0
htpasswd==2.3
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hurry.filesize==0.9
hyperframe==6.1.0
idna==3.14
importlib_metadata==8.7.1
inflection==0.5.1
iniconfig==2.3.0
invoke==2.2.1
isodate==0.7.2
isort==8.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jwt==1.4.0
krb5==0.9.0
kubernetes==35.0.0
ldap3==2.9.1
libgravatar==1.0.4
limits==5.8.0
markdown-it-py==4.2.0
markdown2==2.5.5
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
microsoft-kiota-abstractions==1.10.1
microsoft-kiota-authentication-azure==1.10.1
microsoft-kiota-http==1.10.1
microsoft-kiota-serialization-form==1.10.1
microsoft-kiota-serialization-json==1.10.1
microsoft-kiota-serialization-multipart==1.10.1
microsoft-kiota-serialization-text==1.10.1
mock==5.2.0
msal==1.36.0
msal-extensions==1.3.1
msgpack==1.1.2
msgraph-core==1.3.8
msgraph-sdk==1.57.0
msgspec==0.21.1
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.7.1
mypy_extensions==1.1.0
names==0.3.0
ndindex==1.10.1
numexpr==2.14.1
numpy==2.4.4
oauthlib==3.3.1
openpyxl==3.1.5
opentelemetry-api==1.41.1
opentelemetry-sdk==1.41.1
opentelemetry-semantic-conventions==0.62b1
ordered-set==4.1.0
orderedmultidict==1.0.2
orderly-set==5.5.0
packaging==26.2
pandas==3.0.3
paramiko==5.0.0
passlib==1.7.4
Password-Validation==0.1.1
pathspec==1.1.1
pexpect==4.9.0
phonenumbers==9.0.30
phonenumberslite==9.0.30
pillow==12.2.0
platformdirs==4.9.6
pluggy==1.6.0
prettytable==3.17.0
propcache==0.5.2
psycopg==3.3.4
psycopg-binary==3.3.4
ptyprocess==0.7.0
py-cpuinfo==9.0.0
py_daemon==0.1.2
pyasn1==0.6.3
pycares==5.0.1
pycodestyle==2.14.0
pycountry==26.2.16
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.12.1
pylint==4.0.5
pymssql==2.3.13
pymsteams==0.2.5
PyMySQL==1.1.3
PyNaCl==1.6.2
pyodbc==5.3.0
pyOpenSSL==26.2.0
pypsrp==0.9.1
pyreadline3==3.5.4
pyspnego==0.12.1
pytest==9.0.3
pytest-cov==7.1.0
pytest-describe==3.1.0
pytest-env==1.6.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.28
python-redis-cache==4.0.2
pytokens==0.4.1
pytz==2026.2
PyYAML==6.0.3
redis==7.4.0
referencing==0.37.0
regex==2026.5.9
requests==2.34.0
requests-cache==1.3.2
requests-credssp==2.0.0
requests-oauthlib==2.0.0
rich==15.0.0
rpds-py==0.30.0
schedule==1.2.2
setuptools==82.0.1
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
SQLAlchemy==2.0.49
starlette==1.0.0
std-uritemplate==2.0.8
swagger_ui_bundle==1.1.0
tables==3.11.1
tabulate==0.10.0
talisman==0.1.0
threadpoolctl==3.6.0
timeago==1.0.16
tomlkit==0.15.0
tqdm==4.67.3
typer==0.25.1
typing-inspection==0.4.2
typing_extensions==4.15.0
ujson==5.12.1
Unidecode==1.4.0
url-normalize==3.0.0
urllib3==2.7.0
uvicorn==0.46.0
uvloop==0.22.1
var_dump==1.2
wcwidth==0.7.0
websocket-client==1.9.0
Werkzeug==3.1.8
wheel==0.47.0
wrapt==2.1.2
WTForms==3.2.2
xlsxwriter==3.2.9
yarl==1.23.0
zipp==3.23.1
zope.event==6.2
zope.interface==8.4
